.focusImageBackground {
  background-image: url('https://images.unsplash.com/photo-1676206584909-c373cf61cefc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1408&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}